<section>
  <div class="container">
    <div class="row pt-1">
      <div class="col-12">
        <h3 class="text-uppercase border-bottom mb-4">Listes des articles</h3>
        <div style="display: inline;" >
   
          <input type="text" style="border:none ; height : 46px ;width:400px; margin-right:720px ; margin-left:18px" placeholder="Trouver un article : id titre ..." > 
          <button  class="btn btn-warning "[routerLink]="'/statistics'" >Statistiques</button>
      </div><br>
      <hr>
        <div class="row col-12" >
          <!--ADD CLASSES HERE d-flex align-items-stretch-->
          <div class="col-lg-4 mb-4 d-flex align-items-stretch" *ngFor="let art of article">
            <div class="card" style="position: relative;">
              <img src="{{art.imageArticle}}"  class="card-img-top" alt="Card Image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title"><strong>{{art.titre}}</strong></h5>
                <p class="card-text mb-4"> {{art.description}}</p> <br>
                <div style="display: inline; position: absolute; bottom: 5px; ">
                <a href="#" class="btn btn-success mt-auto align-self-start" style="margin-left: 5px;" [routerLink]="['/update',art.id]">Modifier</a>&nbsp;
                <button  class="btn btn-danger " (click)="deleteArticle(art.id)">Suprimer</button>&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="" ><strong>Détails...</strong></a>
              </div>
              
              </div>
            </div>
          </div>
      </div>
    </div>
    
  </div><br>

   
     
      
    </div>
    <section>

