
<div class="content-wrapper">
  <div class="content">

  
   
     
      <div class="form-group " style="background-color: #3f51b5; " ><br/>
      <h3> <p class="text-light text-center" >{{title}}</p></h3><br/>
        
   
   
<form #f="ngForm" style="background-color: #fafafa;" >
    <div class="row" >
      <div class="form-group col-md-6">
        <label>Titre :</label>
        <input   type="text"  [(ngModel)]="article.titre" name="name" required placeholder="the product name" class="form-control" #a="ngModel">
      </div>
  
   

      <div class="form-group col-md-6">
        <label >Catégorie :</label>
        <select  type="text" [(ngModel)]="article.categorie"   name="categorie"class="form-control">
          <option   selected > ...Choisir...</option>
          <option *ngFor="let categorie of categorieTable " >{{categorie.titre}}</option>
        </select>
      
      </div>

      <div  *ngIf="a.invalid && a.touched " >
        <div *ngIf="a.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
      </div>
    </div>

    <div class="row" >
        <div class="form-group col-md-6">
          <label>Description :</label>
          <input   type="text"  [(ngModel)]="article.description" name="Description" required placeholder="Description" class="form-control" #c="ngModel">
        </div>
    
        <div class=" myDate col-md-6">
          <label for="inputAddress">Date :</label> <br/>
          <input type="date" [(ngModel)]="article.datePublication"   style="width:636px; height: 38px;" name="date">
      </div>
  
       
       
          <div  *ngIf="c.invalid && c.touched" >
            <div *ngIf="c.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
          </div>
        
        </div>
       
   
  <div>
    <label>Paragraphe 1 :</label>
    <textarea #txt="ngModel" class="form-group col-md-12" name="question" cols="159" rows="8" placeholder="Paragraphe 1 * " [(ngModel)]="article.premiereParagraphe" required  #m="ngModel"></textarea>
  </div>
  <div  *ngIf="m.invalid && m.touched" >
    <div *ngIf="m.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
  </div>

  <div>
    <label>Paragraphe 2 :</label>
    <textarea #txt2="ngModel" class="form-group col-md-12" name="questionText" cols="159" rows="8" placeholder="Paragraphe 2 *" [(ngModel)]="article.deusciemeParagraphe" required  #l="ngModel"></textarea>
  </div>
  <div  *ngIf="l.invalid && l.touched" >
    <div *ngIf="l.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
  </div>
  <div class="row" >
  <div class="form-group ">
    <label>Ecrivain :</label>
    <input   type="text"  [(ngModel)]="article.ecrivain" name="ecrivain" required placeholder="Ecrivain" class="form-control" #j="ngModel">
  </div> 
  <div  *ngIf="j.invalid && j.touched" >
    <div *ngIf="j.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
  </div>
</div>
<div class="row" >
  <div class="form-group ">
    <label>Image :</label>
    <input   type="text"  [(ngModel)]="article.imageArticle" name="Image" required placeholder="Image" class="form-control" #x="ngModel">
  </div> 
  <div  *ngIf="x.invalid && x.touched" >
    <div *ngIf="x.hasError('required')"><p style="color: red;">Ce champs est obligatoire *</p></div>
  </div>
</div>
    <br>
    <div>
    <button class="btn btn-primary"  style="  display: block;"(click)="save()"  [disabled]="f.invalid">
      Enregistrer
    </button>
    <div *ngIf="alert "class="alert alert-success" role="alert">
      <strong>Success ! </strong>Opération a été éffectuer avec succées !
    </div>

  
  </div>
  </form>
</div>


<!-- End Contact Section --><br/></div></div>