<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <div class="content-header">
      


     
   




      <!-- Example split danger button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger">Mon Classroom</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">créer un module</a>
        <a class="dropdown-item" href="#">créer un cour</a>
      
      </div>
    </div>
    <!--fin split danger button-->










    <div>
      <h4>Classe</h4>
      <hr>

<!-- Small boxes (Stat box) -->
      <div class="row">
        <!--***************************-->
        <div class="col-lg-2 col-2">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h5>Classe 1</h5>

              
            </div>
            
             <i class="fas fa-arrow-circle-right"></i>
          </div> 
        </div>
        <!--*******End small box 1****-->
        <div class="col-lg-2 col-2">
          <!-- small box 2-->
          <div class="small-box bg-info">
           
              <h5>Classe 2</h5>

              
            
            
           <i class="fas fa-arrow-circle-right"></i>
          </div>
          <!--End small box 2-->
        </div>
    </div>
<!-- End Small boxes (Stat box) -->











      <div>
        <h4>Module</h4>
        <hr>

<!-- Small boxes (Stat box) -->
        <div class="row">
          <!--***************************-->
          <div class="col-lg-2 col-2">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Module 1</h3>

                <p>nom Enseignant</p>
              </div>
              
              <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div> 
          </div>
          <!--*******End small box 1****-->
          <div class="col-lg-2 col-2">
            <!-- small box 2-->
            <div class="small-box bg-info">
             
                <h3>Module 2</h3>

                <p>Nom Enseignant</p>
              
              
              <a  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <!--End small box 2-->
          </div>
      </div>
<!-- End Small boxes (Stat box) -->

<hr>












<div class="row">
  <div style="height: 15px;" class="col-10">
    <div >
      <input type="text" class="form-control  card" placeholder="Créer et programmer des annonces" style="margin-top: 10px;padding-left:5%;">
     
    </div>
    <div class="row">
    <div class="card col" style="margin-left: 5px;">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
    <div class="col-1"></div>
    
 



    <div class="card text-white  mb-3 col" style="max-width: 50%; height: auto;">
      <div class="card-header font-weight-bold" style="color:rgb(58, 39, 187);">UMail</div>
      <div class="card-body">
        <p class="font-weight-bold">Primary card title</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  </div>
  
  
  
  <div class="col-1  row" style="height: 15px;">
  
                
  
  



</div>

    </div>
    <!-- /.content-header -->




