<div class="content-wrapper">
    <div class="content">






          <!-- Top Statistics -->
          <div class="row">
            <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4"style="background-color:DarkSlateBlue;">
                <div class="card-body">
                  <h2 class="mb-1"style="color:white;">100</h2>
                  <p style="color:white;">Total des articles</p>
                  <div class="chartjs-wrapper">
                    <canvas id="barChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card  "style="background-color:steelblue;">
                <div class="card-body">
                  <h2 class="mb-1"style="color:white;">200</h2>
                  <p style="color:white;"> Visitors Today</p>
                  <div class="chartjs-wrapper">
                    <canvas id="dual-line"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-31 col-sm-3" >
              <div class="card "style="background-color:skyblue;">
                <div class="card-body">
                  <h2 class="mb-1" style="color:white;">71,503</h2>
                  <p style="color:white;">Monthly Total Order</p>
                  <div class="chartjs-wrapper">
                    <canvas id="area-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card "style="background-color:paleturquoise ;">
                <div class="card-body">
                  <h2 class="mb-1">9,503</h2>
                  <p>Total Revenue This Year</p>
                  <div class="chartjs-wrapper">
                    <canvas id="line"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <h1> <p class="text-dark text-center" ><strong>Listes des articles</strong></p></h1><br/>
          <hr>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
         
          <br>
      
          <table id="basic-data-table" class="table nowrap" style="width:100%">
            <thead>
             <tr>
              <th>Titre de l'article</th>
              <th>Catégorie</th>
              <th>Date de publication</th>
              <th>Nombre de likes</th>
              <th>Nombre de dislikes</th>
              <th>Nombre de commentaires</th>
              <th>Aficher les commentaires</th>
             </tr>
            </thead>
          
            <tbody>
             <tr>
              <td>Tiger</td>
              <td>Nixon</td>
              <td>System Architect</td>
              <td>Edinburgh</td>
              <td>61v &nbsp; <button class = "btn-warning">likes </button></td>
              <td>2011/04/25 &nbsp; <button class = "btn-danger">dislikes </button></td>
              <td><button class = "btn-info">commentaires </button></td>
             </tr>
            </tbody>
           </table>
           <br>
           <hr>


           <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
          
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              
              </ul>
             
            </div>
          </nav>

  
